Laboratorio2.Website/Laboratorio2.Website/Service References/SalesPersonService/Laboratorio2.DataAccess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonAddress" nillable="true" type="tns:PersonAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonAddress" nillable="true" type="tns:ArrayOfPersonAddress" />
  <xs:complexType name="PersonAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessEntityID" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryRegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryRegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateProvinceID" type="xs:int" />
      <xs:element minOccurs="0" name="StateProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonAddress" nillable="true" type="tns:PersonAddress" />
</xs:schema>