Laboratorio2.Website/Laboratorio2.Website/Service References/EmployeeService/Laboratorio2.DataAccess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDepartment" nillable="true" type="tns:EmployeeDepartment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDepartment" nillable="true" type="tns:ArrayOfEmployeeDepartment" />
  <xs:complexType name="EmployeeDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BusinessEntityID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:short" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalIDNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SickLeaveHours" type="xs:short" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VacationHours" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDepartment" nillable="true" type="tns:EmployeeDepartment" />
</xs:schema>