Laboratorio2.Website/Laboratorio2.Website/Service References/EmployeeService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" />
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="departmentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q1:ArrayOfEmployeeDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByDepartmentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByDepartmentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" minOccurs="0" name="GetEmployeesByDepartmentIDResult" nillable="true" type="q2:ArrayOfEmployeeDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>