Laboratorio2.Website/Laboratorio2.Website/Service References/EmployeeService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeesByDepartmentID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesByDepartmentID" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeesByDepartmentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesByDepartmentIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetDepartments" message="tns:IEmployeeService_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetDepartmentsResponse" message="tns:IEmployeeService_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesByDepartmentID">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesByDepartmentID" message="tns:IEmployeeService_GetEmployeesByDepartmentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesByDepartmentIDResponse" message="tns:IEmployeeService_GetEmployeesByDepartmentID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesByDepartmentID">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeesByDepartmentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Laboratorio2.WCFLayer/EmployeeService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>