Laboratorio2.Website/Laboratorio2.Website/Service References/SalesOrderService/Laboratorio2.DataAccess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Laboratorio2.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSalesOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesOrder" nillable="true" type="tns:SalesOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesOrder" nillable="true" type="tns:ArrayOfSalesOrder" />
  <xs:complexType name="SalesOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillToAddressID" type="xs:int" />
      <xs:element minOccurs="0" name="CarrierTrackingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardApprovalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyRateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Freight" type="xs:decimal" />
      <xs:element minOccurs="0" name="LineTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderQty" type="xs:short" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RevisionNumber" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SalesOrderDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesPersonID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShipDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShipMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipToAddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDue" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPriceDiscount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesOrder" nillable="true" type="tns:SalesOrder" />
</xs:schema>